<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Agro Managment</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">AgroCode твой бесплатный аналитик в сельхоз секторе</span>
                <span class="site-heading-lower">Агро Менеджмент</span>
            </h1>
        </header>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="{{ url_for('home') }}">AGRO CODE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('home') }}">Home</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('about') }}">О нас</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('products') }}">Продукты</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('analytic') }}">Аналитика</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('team') }}">Команда</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('register') }}">Вход</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ url_for('static', filename='img/intro.jpg') }}" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">AgroCode</span>
                            <span class="section-heading-lower">IT решения в агро бизнесе</span>
                        </h2>
                        <p class="mb-3">Платформа по сбору данных в режиме реального времени.
                            Работает с любым типом датчиков и предоставляет исчерпывающие данные</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{{ url_for('register') }}">Регистрация</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Мы гарантируем</span>
                                <span class="section-heading-lower">Тебе</span>
                            </h2>
                            <p class="mb-0">бесплатный доступ к программно комплексу, объединенных в единую архитектуру, а также вэб-приложения, которое отображает данные в твоем личном кабинете.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ url_for('static', filename='img/analitic.jpg') }}" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Аналитика</span>
                            <span class="section-heading-lower">Продавай и покупай с умом</span>
                        </h2>
                        <p class="mb-3">С помощью нашей аналитики AgroCode</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{{ url_for('analytic') }}">Как мы это делаем?</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">AgroCode</span>
                                <span class="section-heading-lower">Всегда под рукой</span>
                            </h2>
                            <div class="container center">
                                <!-- App Store button -->
                                <a href="https://www.kobinet.com.tr/" target="_blank" class="market-btn apple-btn" role="button">
                                  <span class="market-button-subtitle">Скачать с</span>
                                  <span class="market-button-title">App Store</span>
                                </a>

                                <!-- Google Play button -->
                                <a href="https://www.kobinet.com.tr/" target="_blank" class="market-btn google-btn" role="button">
                                  <span class="market-button-subtitle">Доступен в</span>
                                  <span class="market-button-title">Google Play</span>
                                </a>

                            </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; AgroCode 2018-2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
    </body>
</html>