<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Registration</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap" rel="stylesheet">
	<link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css' rel='stylesheet' >
	<link href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css' rel='stylesheet'>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static',filename='css/lib/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/register.css') }}" rel="stylesheet" />


</head>
<body>
<!-- Header -->
<header class="header sticky-top">
		<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
			<div class="container"><a class="navbar-brand" href="{{ url_for('home') }}">
				<strong class="h6 mb-0 font-weight-bold text-uppercase">AgroCode</strong></a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">О нас</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('products') }}">Продукты</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('analytic') }}">Аналитика</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('team') }}">Наша команда</a></li>
						<li class="nav-item active"><a class="nav-link" href="#">Вход</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

<!-- register form -->
<form method="POST">
	<section class="wrapper">
		<div class="message">
		  <div class="section">
				{% with messages = get_flashed_messages() %}
			  {% if messages %}
				<ul class=flashes>
				{% for message in messages %}
				  <li>{{ message }}</li>
				{% endfor %}
				</ul>
			  {% endif %}
			{% endwith %}
			</div>
		</div>
	</section>

	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 class="mb-0 pb-3"><span>Вход</span><span>Регистрация</span></h6>
						<input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
			          	<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Вход</h4>
											<div class="form-group">
												<input type="text" name="logname" class="form-style" placeholder="Твое полное имя" id="logname" autocomplete="off">
												<i class="input-icon uil uil-user"></i>
											</div>
											<div class="form-group mt-2">
												<input type="email" name="logemail" class="form-style" placeholder="Твой Email" id="logemail" autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" name="logpass" class="form-style" placeholder="Твой пароль" id="logpass" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<input type="submit" name="submit" value="Вход" class="btn mt-4">
                            				<p class="mb-0 mt-4 text-center"><a href="{{ url_for('psw_reset') }}" class="link">Забыли пароль?</a></p>
				      					</div>
			      					</div>
			      				</div>
								<div class="card-back">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mt-2 mb-4 pb-3">Регистрация</h4>
											<div class="form-group">
												<input type="text" name="login" class="form-style" placeholder="Логин" autocomplete="on">
												<i class="input-icon uil uil-user"></i>
											</div>

											<div class="form-group mt-2">
												<input type="email" name="email" class="form-style" placeholder="Email" autocomplete="on">
												<i class="input-icon uil uil-at"></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" name="password" class="form-style" placeholder="Пароль" autocomplete="on">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>

											<div class="form-group mt-2">
												<input type="password" name="password2" class="form-style" placeholder="Подтверждение пароля" autocomplete="on">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
                  								<input type="submit" name="submit" value="Отправить" class="btn mt-4">
				      					</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
</form>
<!-- footer-->
    <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; AgroCode 2018-2022</p></div>
    </footer>
</body>
</html>
