<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Our Team</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap" rel="stylesheet">
	<link href="{{ url_for('static',filename='css/team.css') }}" rel="stylesheet" />
</head>
<body>
	<!-- Sticky navbar-->
	<header class="header sticky-top">
		<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
			<div class="container"><a class="navbar-brand" href="{{ url_for('home') }}">
				<strong class="h6 mb-0 font-weight-bold text-uppercase">AgroCode</strong></a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">О нас</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('products') }}">Продукты</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('analytic') }}">Аналитика</a></li>
						<li class="nav-item active"><a class="nav-link" href="#">Наша команда</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Вход</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- team-->
	<section class="section-team">
		<div class="container">
			<!-- Start Header Section -->
			<div class="row justify-content-center text-center">
				<div class="col-md-8 col-lg-8">
					<div class="header-section">
						<h3 class="title">Команда</h3>
					</div>
					<div class="title-section">
						<h4 class="text">Компания создана командой руководителей обладающих
							международным управленческим опытом в области сельского хозяйства, автопрома,
							цифровых технологий и финансов, а также большим опытом в сельхоз научной среде c множествоми патентов.</h4>
					</div>
				</div>
			</div>
			<!-- / End Header Section -->
			<div class="row mt-4">
				<!-- Start Single Person -->
				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="single-person">
						<div class="person-image">
							<img src="{{ url_for('static', filename='img/team/vya.jpg') }}" alt="">
							<span class="icon">
								<i class="fab fa-linkedin"></i>
							</span>
						</div>
						<div class="person-info">
							<h3 class="full-name">Vyacheslav Tyurin</h3>
							<span class="speciality">Co-Founder & UI / UX Developer</span>
						</div>
					</div>
				</div>
				<!-- / End Single Person -->
				<!-- Start Single Person -->
				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="single-person">
						<div class="person-image">
							<img src="{{ url_for('static', filename='img/team/vya.jpg') }}" alt="">
							<span class="icon">
								<i class="fab fa-linkedin"></i>
							</span>
						</div>
						<div class="person-info">
							<h3 class="full-name">Petr Yatcenko</h3>
							<span class="speciality">Co-Founder & Full Stack Developer</span>
						</div>
					</div>
				</div>
				<!-- / End Single Person -->
				<!-- Start Single Person -->
				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="single-person">
						<div class="person-image">
							<img src="{{ url_for('static', filename='img/team/vya.jpg') }}" alt="">
							<span class="icon">
								<i class="fab fa-linkedin"></i>
							</span>
						</div>
						<div class="person-info">
							<h3 class="full-name">Anna <p>Guzeva</p></h3>
							<span class="speciality">Marketing & Translator</span>
						</div>
					</div>
				</div>
				<!-- / End Single Person -->
				<!-- Start Single Person -->
				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="single-person">
						<div class="person-image">
							<img src="{{ url_for('static', filename='img/team/vya.jpg') }}" alt="">
							<span class="icon">
								<i class="fab fa-linkedin"></i>
							</span>
						</div>
						<div class="person-info">
							<h3 class="full-name">Sergey Guzev</h3>
							<span class="speciality">Javascript Developer</span>
						</div>
					</div>
				</div>
				<!-- / End Single Person -->
			</div>
		</div>
	</section>
	<!-- contact form -->

	<!-- footer-->
	<footer class="footer text-faded text-center py-5">
		<div class="container"><p class="m-0 small">Copyright &copy; AgroCode 2018-2022</p></div>
	</footer>
</body>
</html>